extends layout

block content
  h1 Messages
  p
    | Send a new message to a fellow user
    form(role='form', action='message', method='post')
      .form-group
        label(for='username') Username:
        input.form-control(type='text', id='user', name='username', placeholder='enter the recipients username')
      .form-group
        label(for='message') Message:
        input.form-control(type='text', id='message', name='message', placeholder='enter the message to send')
      button.btn.btn-primary(type='submit') Submit
  h2 Your messages
  for m in messages
    p From: #{m.from}
    p Message: #{m.message}
    hr